# ITERATION

In [10]:
l = [1,2,3,4,5,6]

In [11]:
len(l)

6

In [6]:
#iterate over list of integers
l = [1,2,3,4,5,6]

In [8]:
list_l = [1,2,3,4,5,6]
for i in list_l :
    print(i)

1
2
3
4
5
6

In [9]:
#iterate over a string
string = "Himachal Pradesh"
for ch in string:
    print(ch)

H
i
m
a
c
h
a
l

P
r
a
d
e
s
h

In [12]:
#iterate over a string - modify print using end

string = "Himachal Pradesh"
for ch in string:
    print(ch, end = ",") #default value of end "\n"

H,i,m,a,c,h,a,l, ,P,r,a,d,e,s,h,

In [28]:
#iterating over adictionary


students_data = {1:['sam', 24], 2:['shan', 25], 3:['cat', 25], 4:['tori', 26], 5:['trina', 27]}

for key, val in students_data.items():
    print(key,val)

1 ['sam', 24]
2 ['shan', 25]
3 ['cat', 25]
4 ['tori', 26]
5 ['trina', 27]

In [30]:
#iterate over key of a adictionary

In [31]:
 for key in students_data.keys():
    print(key)

1
2
3
4
5

In [34]:
 for values in students_data.values():
    print(values)

['sam', 24]
['shan', 25]
['cat', 25]
['tori', 26]
['trina', 27]

In [36]:
for values in students_data.values():
    print(values[1])
    print(type(values))

24
<class 'list'>
25
<class 'list'>
25
<class 'list'>
26
<class 'list'>
27
<class 'list'>

# Range Function

In [12]:
#generate range of values
range(1,101)

range(1, 101)

In [14]:
#iterating over range of values

for i in range(1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [15]:

for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [16]:
for i in range(10,1, -2):
    print(i)

10
8
6
4
2

In [30]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [32]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [33]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [34]:
ch =" "
while ch != "quit":
    ch = input()
    print(ch)

quit
quit

In [37]:
x= 0
while x <=20:
    x += 3
    if x % 5 == 0:
        continue
    print (x, end = " ")

3 6 9 12 18 21

In [38]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [39]:
list(range(0, -101, 2))

[]

In [40]:
list(range(-101,-1, 2))

[-101,
 -99,
 -97,
 -95,
 -93,
 -91,
 -89,
 -87,
 -85,
 -83,
 -81,
 -79,
 -77,
 -75,
 -73,
 -71,
 -69,
 -67,
 -65,
 -63,
 -61,
 -59,
 -57,
 -55,
 -53,
 -51,
 -49,
 -47,
 -45,
 -43,
 -41,
 -39,
 -37,
 -35,
 -33,
 -31,
 -29,
 -27,
 -25,
 -23,
 -21,
 -19,
 -17,
 -15,
 -13,
 -11,
 -9,
 -7,
 -5,
 -3]

In [41]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [43]:
l1=["sinchan", "nobida", "doremon", "oswal", "pingu"]

l2=[]

for i in l1 :
    l2. append(len(i))
l2

[7, 6, 7, 5, 5]

In [45]:
l1=["sinchan", "nobida", "doremon", "oswal", "pingu"]

l2=[len(i) for i in l1]

print(l2)

[7, 6, 7, 5, 5]

In [48]:
for i,j in zip(l1,l2):

    print(i, "-", j)

sinchan - 7
nobida - 6
doremon - 7
oswal - 5
pingu - 5

In [49]:
l3=[1,2,3,4,5]

In [52]:
for i,j,k in zip(l1,l2,l3):

    print(i, "-", j, "-", "no is:",k)

sinchan - 7 - no is: 1
nobida - 6 - no is: 2
doremon - 7 - no is: 3
oswal - 5 - no is: 4
pingu - 5 - no is: 5

# DICTIONARY COMPREHENSION

In [53]:
l1=["sinchan", "nobida", "doremon", "oswal", "pingu"]
#dict = {key1:value1,key2:value2,............. }

d={i: len(i) for i in l1}
print(d)

{'sinchan': 7, 'nobida': 6, 'doremon': 7, 'oswal': 5, 'pingu': 5}

In [56]:
for dict_values in d.values():
    print(dict_values)

7
6
7
5
5

In [57]:
input_list = ["sinchan", "nobida", "doremon", "oswal", "pingu"]

In [59]:
new_list = []
for input_str in input_list:
    if input_str[0] in 'aeiou':
        new_list.append(input_str)
print(new_list)

['oswal']

In [61]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

In [62]:
output_dict = {val: val**3 for val in input_list if val % 3 == 0}

In [63]:
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [64]:
print ([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [66]:
for j in "def":
    for i in "abc":
        print(i+j)

ad
bd
cd
ae
be
ce
af
bf
cf

In [65]:
d= {x.upper(): x*3 for x in 'abcd'}
print(d)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [68]:
for x in 'abcd':
    print(d)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}
{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}
{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}
{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [69]:
s ='a'
s*3

'aaa'

# FUNCTIONS

In [70]:
a=15
b=10
c=a+b

In [71]:
c

25

In [72]:
def sum(a,b):
    return a+b

In [73]:
sum(5,10)

15

In [74]:
def sum(a=5,b=55):
    c=a+b
    return c
sum()

60

In [80]:
def factorial(n):
    
    fact=1
    
    for i in range(1, n+1):
        fact = fact*i
        
    return fact
factorial(5)

120

In [79]:
factorial(8)

40320

# DEFAULT ARGUMENT

In [81]:
def func(name= "default", age=25):
    print("name:", name)
    print("age:", age)

In [82]:
func()

name: default
age: 25

# LAMBDA FUNCTION

In [83]:
#traditinal approach

def sum(a,b):
    return a+b

#lambda approach

f= lambda a,b : a+b

In [84]:
f(5,10)

15

In [85]:
# write a Lambda function to check a number is even or odd

f=lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

In [86]:
f(11)

'odd'

In [90]:
greater = lambda a, b : a if a > b else b
greater(9,11)

11

# map - filter - reduce

In [91]:
countries = ["India", "Japan", "Italy", "France"]

In [92]:
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [95]:
#filterbthe countries names starting "I"

list(filter(lambda x : x.startswith("I"), countries))

['India', 'Italy']

In [97]:
list(filter(lambda x : x[0]=='I', countries))

['India', 'Italy']

In [100]:
#reduce the list to concate=ante the countrirs names into a single string variable separated by ""

In [99]:
from functools import reduce

reduce (lambda x, y : x + " " + y, countries)

'India Japan Italy France'

# Creating Classes and Objects

In [111]:
class Rectangle :
    def __init__(self):
        self.lenght =10
        self.breadth =5

In [116]:
class Rectangle :
    def __init__(self, length, breadth):
        self.lenght = length
        self.breadth = breadth

In [119]:
rect = Rectangle(10, 5)
rect.breadth

5

In [124]:
class Circle :
    pi = 3.14
    def __init__(self, redius):
        self.radius = radius

# PANDAS

In [128]:
import pandas as pd
import numpy as np

In [132]:
pd.read_csv('train.csv')['passengerId']

FileNotFoundError: [Errno 2] No such file or directory: 'train.csv'

In [133]:
data_dict = {"Name":['A','B','C','D'], "Marks":[1,2,3,4]}

In [137]:
pd.DataFrame(np.random.rand(2,3)).columns =['a','B','C']

In [140]:
rand_df = pd.DataFrame(np.random.rand(2,3))

In [141]:
rand_df.columns = ['a','B','C']

In [142]:
rand_df.index = ['11','12']

In [143]:
rand_df

           a         B         C
11  0.059182  0.697324  0.046219
12  0.518597  0.638355  0.263930

In [144]:
random_df = pd.DataFrame(np.random.rand(34,5),index = np.arange(34),columns = np. arange(5))

In [146]:
random_df.tail(10)

           0         1         2         3         4
24  0.231874  0.792857  0.716202  0.193750  0.109004
25  0.547800  0.018985  0.470335  0.876979  0.027352
26  0.844714  0.332575  0.868401  0.883607  0.901345
27  0.675896  0.149076  0.702126  0.678592  0.957421
28  0.777290  0.578937  0.167145  0.263346  0.214920
29  0.623160  0.003891  0.136815  0.989354  0.095379
30  0.501044  0.420851  0.326529  0.601144  0.181444
31  0.391504  0.884237  0.827835  0.679315  0.957426
32  0.328970  0.632194  0.697039  0.681094  0.092819
33  0.116050  0.610023  0.061767  0.066706  0.178428

In [147]:
random_df.T

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.699768,0.489687,0.237829,0.513053,0.410567,0.840483,0.000304,0.783645,0.554320,0.655986,...,0.231874,0.547800,0.844714,0.675896,0.777290,0.623160,0.501044,0.391504,0.328970,0.116050
1,0.382176,0.716263,0.643957,0.396004,0.422924,0.722443,0.041861,0.831917,0.825650,0.555030,...,0.792857,0.018985,0.332575,0.149076,0.578937,0.003891,0.420851,0.884237,0.632194,0.610023
2,0.416435,0.555075,0.656876,0.125597,0.697424,0.238997,0.386897,0.001666,0.784875,0.576323,...,0.716202,0.470335,0.868401,0.702126,0.167145,0.136815,0.326529,0.827835,0.697039,0.061767
3,0.385411,0.580345,0.416307,0.501463,0.564634,0.323862,0.955839,0.513157,0.328719,0.716500,...,0.193750,0.876979,0.883607,0.678592,0.263346,0.989354,0.601144,0.679315,0.681094,0.066706
4,0.511607,0.237824,0.050364,0.603623,0.146348,0.267311,0.928377,0.000698,0.299926,0.032025,...,0.109004,0.027352,0.901345,0.957421,0.214920,0.095379,0.181444,0.957426,0.092819,0.178428

In [153]:
random_df.sort_index()

              0         1         2         3         4
0   1345.000000  0.382176  0.416435  0.385411  0.511607
1      0.489687  0.716263  0.555075  0.580345  0.237824
2      0.237829  0.643957  0.656876  0.416307  0.050364
3      0.513053  0.396004  0.125597  0.501463  0.603623
4      0.410567  0.422924  0.697424  0.564634  0.146348
5      0.840483  0.722443  0.238997  0.323862  0.267311
6      0.000304  0.041861  0.386897  0.955839  0.928377
7      0.783645  0.831917  0.001666  0.513157  0.000698
8      0.554320  0.825650  0.784875  0.328719  0.299926
9      0.655986  0.555030  0.576323  0.716500  0.032025
10     0.736113  0.777795  0.799813  0.095870  0.291459
11     0.624895  0.024664  0.774638  0.795180  0.255724
12     0.917456  0.939141  0.027936  0.546937  0.779777
13     0.548614  0.357872  0.332619  0.182291  0.792791
14     0.542228  0.175936  0.122735  0.275763  0.564894
15     0.887094  0.470772  0.780117  0.122123  0.465924
16     0.102590  0.248557  0.576246  0.094114  0.707770
17     0.089621  0.415047  0.709962  0.124966  0.782526
18     0.747557  0.955645  0.779287  0.793340  0.581609
19     0.108527  0.319420  0.439814  0.164803  0.134217
20     0.963741  0.136837  0.617583  0.329892  0.286182
21     0.202289  0.547256  0.379552  0.059108  0.425861
22     0.235347  0.960305  0.917227  0.551674  0.960210
23     0.463736  0.757465  0.664057  0.498357  0.607515
24     0.231874  0.792857  0.716202  0.193750  0.109004
25     0.547800  0.018985  0.470335  0.876979  0.027352
26     0.844714  0.332575  0.868401  0.883607  0.901345
27     0.675896  0.149076  0.702126  0.678592  0.957421
28     0.777290  0.578937  0.167145  0.263346  0.214920
29     0.623160  0.003891  0.136815  0.989354  0.095379
30     0.501044  0.420851  0.326529  0.601144  0.181444
31     0.391504  0.884237  0.827835  0.679315  0.957426
32     0.328970  0.632194  0.697039  0.681094  0.092819
33     0.116050  0.610023  0.061767  0.066706  0.178428

In [156]:
random_df.columns = list('ABCDE')

In [157]:
random_df['A'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: A, dtype: bool

In [160]:
random_df

              A         B         C         D         E
0   1345.000000  0.382176  0.416435  0.385411  0.511607
1      0.489687  0.716263  0.555075  0.580345  0.237824
2      0.237829  0.643957  0.656876  0.416307  0.050364
3      0.513053  0.396004  0.125597  0.501463  0.603623
4      0.410567  0.422924  0.697424  0.564634  0.146348
5      0.840483  0.722443  0.238997  0.323862  0.267311
6      0.000304  0.041861  0.386897  0.955839  0.928377
7      0.783645  0.831917  0.001666  0.513157  0.000698
8      0.554320  0.825650  0.784875  0.328719  0.299926
9      0.655986  0.555030  0.576323  0.716500  0.032025
10     0.736113  0.777795  0.799813  0.095870  0.291459
11     0.624895  0.024664  0.774638  0.795180  0.255724
12     0.917456  0.939141  0.027936  0.546937  0.779777
13     0.548614  0.357872  0.332619  0.182291  0.792791
14     0.542228  0.175936  0.122735  0.275763  0.564894
15     0.887094  0.470772  0.780117  0.122123  0.465924
16     0.102590  0.248557  0.576246  0.094114  0.707770
17     0.089621  0.415047  0.709962  0.124966  0.782526
18     0.747557  0.955645  0.779287  0.793340  0.581609
19     0.108527  0.319420  0.439814  0.164803  0.134217
20     0.963741  0.136837  0.617583  0.329892  0.286182
21     0.202289  0.547256  0.379552  0.059108  0.425861
22     0.235347  0.960305  0.917227  0.551674  0.960210
23     0.463736  0.757465  0.664057  0.498357  0.607515
24     0.231874  0.792857  0.716202  0.193750  0.109004
25     0.547800  0.018985  0.470335  0.876979  0.027352
26     0.844714  0.332575  0.868401  0.883607  0.901345
27     0.675896  0.149076  0.702126  0.678592  0.957421
28     0.777290  0.578937  0.167145  0.263346  0.214920
29     0.623160  0.003891  0.136815  0.989354  0.095379
30     0.501044  0.420851  0.326529  0.601144  0.181444
31     0.391504  0.884237  0.827835  0.679315  0.957426
32     0.328970  0.632194  0.697039  0.681094  0.092819
33     0.116050  0.610023  0.061767  0.066706  0.178428

In [162]:
random_df.head

<bound method NDFrame.head of               A         B         C         D         E
0   1345.000000  0.382176  0.416435  0.385411  0.511607
1      0.489687  0.716263  0.555075  0.580345  0.237824
2      0.237829  0.643957  0.656876  0.416307  0.050364
3      0.513053  0.396004  0.125597  0.501463  0.603623
4      0.410567  0.422924  0.697424  0.564634  0.146348
5      0.840483  0.722443  0.238997  0.323862  0.267311
6      0.000304  0.041861  0.386897  0.955839  0.928377
7      0.783645  0.831917  0.001666  0.513157  0.000698
8      0.554320  0.825650  0.784875  0.328719  0.299926
9      0.655986  0.555030  0.576323  0.716500  0.032025
10     0.736113  0.777795  0.799813  0.095870  0.291459
11     0.624895  0.024664  0.774638  0.795180  0.255724
12     0.917456  0.939141  0.027936  0.546937  0.779777
13     0.548614  0.357872  0.332619  0.182291  0.792791
14     0.542228  0.175936  0.122735  0.275763  0.564894
15     0.887094  0.470772  0.780117  0.122123  0.465924
16     0.102590  0.248557  0.576246  0.094114  0.707770
17     0.089621  0.415047  0.709962  0.124966  0.782526
18     0.747557  0.955645  0.779287  0.793340  0.581609
19     0.108527  0.319420  0.439814  0.164803  0.134217
20     0.963741  0.136837  0.617583  0.329892  0.286182
21     0.202289  0.547256  0.379552  0.059108  0.425861
22     0.235347  0.960305  0.917227  0.551674  0.960210
23     0.463736  0.757465  0.664057  0.498357  0.607515
24     0.231874  0.792857  0.716202  0.193750  0.109004
25     0.547800  0.018985  0.470335  0.876979  0.027352
26     0.844714  0.332575  0.868401  0.883607  0.901345
27     0.675896  0.149076  0.702126  0.678592  0.957421
28     0.777290  0.578937  0.167145  0.263346  0.214920
29     0.623160  0.003891  0.136815  0.989354  0.095379
30     0.501044  0.420851  0.326529  0.601144  0.181444
31     0.391504  0.884237  0.827835  0.679315  0.957426
32     0.328970  0.632194  0.697039  0.681094  0.092819
33     0.116050  0.610023  0.061767  0.066706  0.178428>